@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
  --primary: #000000;
  --secondary: #ffffff;
  --accent: #000000;
  --neutral: #ffffff;
  --base-100: #ffffff;
}
:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer base {
  body {
    @apply min-h-screen flex items-center justify-center min-w-[320px];
  }
}
